@using Library.UI.Helpers
@model Library.UI.Models.Books.BookViewModel
@{
    Layout = "~/Views/Books/_AllBooksList.cshtml";
}
<ul>
    @foreach (var item in Model.Books)
    {
        <li class="cart-item">
            <span class="cart-item-pic">
            </span>
            @item.Name
            <span class="cart-item-desc">
                @item.Author
            </span>
            <span class="cart-item-price">
                @item.ISBN
            </span>
            <input type="button" value="Edit"
                   class="button-edit" onclick="location.href='@Url.Action("Edit", "Books",new{id=item.Id} )'" />
        </li>
    }
    <div class="pager">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("GetAll", new { page = x }))
    </div>
</ul>

