@using System.Web.Mvc.Html
@using Library.UI.Helpers
@model Library.UI.Models.Books.BookViewModel
@{
    Layout = "~/Views/Books/_FilteredBooksList.cshtml";
}
<ul>
    @foreach (var item in Model.Books)
    {
        <li class="cart-item">
            <span class="cart-item-pic">
            </span>
            @item.Name
            <span class="cart-item-desc">
                @item.Author
            </span>
            <span class="cart-item-price">
                @item.ISBN
            </span>
            <div class="edit-form-button">
                <input type="button"
                       value="Edit"
                       class="button-edit"
                       onclick="location.href='@Url.Action("Edit", "Books",new{id=item.Id} )'" />
                @using (Html.BeginForm("RemoveBook", "Category", new { bookId = item.Id, categoryName = ViewBag.CurrentCategory }))
                {
                    <input type="submit" value="Remove" class="button-delete" onclick="return confirm('Are you sure you wish to remove this book?');" />
                }
            </div>
        </li>
    }
    <div class="pager">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("GetFiltered", new { category = ViewBag.CurrentCategory, page = x }))
    </div>
</ul>