@model Library.UI.Models.Categories.CategoryViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="cart">
    <div class="cart-item">
        <div>
            <input type="button" value="Create Category"
                   class="top-button-create-book" onclick="location.href='@Url.Action("Create", "Category")'" />
        </div>
    </div>
    <ul>
        @foreach (var item in Model.Categories)
        {
            <li class="cart-item">
                <span class="cart-item-pic">
                </span>
                @item.Name
                <span class="cart-item-desc">
                    @item.CreationDate.ToString("d")
                </span>
                <input type="button" value="Edit"
                       class="button-edit" onclick="location.href='@Url.Action("Edit", "Category",new{id=item.Id} )'" />
            </li>
        }
        <div class="pager">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("GetAll", new { page = x }))
        </div>
    </ul>
</div>

