@model Library.UI.Models.Account.LoginModel
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Login</title>
        <link rel="stylesheet" href="~/Content/Authorization.css">
    </head>
<body>
    <div class="login">
        @using (Html.BeginForm())
        {
            <p>
                <label for="login">Email:</label>
                <div id="login">
                    @Html.EditorFor(model => model.Email)
                </div>
            </p>
            <p>
                <label for="password">Password:</label>
                <div id="password">
                    @Html.PasswordFor(model => model.Password)
                    
                </div>
            </p>
            <div style="color: red; margin-left: 100px">
               <p> @Html.ValidationMessageFor(model => model.Email)</p>
                <p>@Html.ValidationMessageFor(model => model.Password)</p>
            </div>

            <p class="login-submit">
                <button type="submit" class="login-button">Login</button>
            </p>
        }
        <p>
            @Html.ActionLink("Registration", "Register", "Authentication",new{style="float:right"})
        </p>
    </div>
</body>
</html>
