<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/ItemsStyle.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/NavMenu.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Pager.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="side-nav">
        @{ Html.RenderAction("Menu", "NavigationMenu");}
    </nav>
    <div class="cart-top">
    </div>
    <div class="cart">
        <ul>
            @RenderBody()
        </ul>
    </div>
</body>
</html>
